<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { class: 'form-horizontal'}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert aleart-error" %>
  <%= f.full_error :image_content_type, class: "alert aleart-error" %>

  <%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :image, label: 'Upload Profile Picture', autocomplete: "off" %>
	<%= f.input :city, label: "Location", autocomplete: "off" %>
	<%= f.input :bio, as: :text, input_html: {rows: "10"}, label: "Bio", autocomplete: "off" %> 
	<%= f.input :password %>
	<%= f.input :password_confirmation %>

	<div class="form-actions">
  	<%= f.submit "Sign up", class: "btn btn-primary" %>
	</div>
<% end %>

<%= render "devise/shared/links" %>
