<div class="hero-unit">
  <div class="box">
    <p>
  	  <a href="">
			  <img alt="profilepicture" src= <%= @user.image(:medium) %> >
		  </a>	
    </p>
  </div>

  <h1><%= @user.name %></h1>
  <p><strong><%= @user.city %></strong></p>
  <p><%= @user.bio %></p>
  <p>
    <%= mail_to @user.email, "UNITE with User", class: "btn btn-large btn-primary" %>
  </p>

</div>
<div id="projects">
<p>
	<%= render @projects %>
</p>
</div>