<%= simple_form_for(@project, html: { class: "form-horizontal"}) do |f| %>

  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert aleart-error" %>
  <%= f.full_error :image_content_type, class: "alert aleart-error" %>

  	<%= f.input :title, as: :text, input_html: {rows: "1"}, label: 'Title' %>
  	<%= f.input :image, label: 'Upload an Image' %>
  	<%= f.input :image_remote_url, label: "Upload with a URL" %>
    <%= f.input :vid, label: "Link to More Info about your project (YouTube video, website, music download, etc.)" %>
    <%= f.input :desvription, as: :text, input_html: {rows: "10"}, label: 'Description' %>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary', :disable_with =>'Uploading Project...' %>
  </div>
<% end %>
