<div class="box">
	<%= link_to (image_tag project.image(:medium)), project %>
	<p class="description">
		<%= project.desvription %>
	</p>
	<p>
		<strong>
			Posted by <%= project.user.name %>
		</strong>
	</p>
	<p>
	  <% if current_user == project.user %>
		  <%= link_to 'Edit', edit_project_path(project) %>
		  <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</p>
</div>	
    