<div class="row">
	<div class="span6 offset3">
		<div class="well">
			<%= image_tag @project.image %>

			<p>
				<strong><%= @project.title %> </strong>	
			</p>

			<p>
			  <%= @project.desvription %>
		  </p>

		  <p>
		  	<%= link_to "More Information", @project.vid, class: "btn btn-mini btn-primary" %>
		  </p>	
		  <p>
			  <%= link_to @project.user.name, user_show_path(:id => @project.user_id),class: "btn btn-mini btn-primary" %>
		  </p>
		  	<%= link_to (content_tag :i, "", class: "icon-arrow-left icon-2x"), projects_path %>
		  <% if current_user == @project.user %>
			  <%= link_to (content_tag :i, "", class: "icon-edit icon-2x"), edit_project_path(@project) %> 
			<% end %>  
			
		</div>
	</div>
</div>